/* font-family: 'Epilogue', sans-serif; */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body { 
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #FAFAFA;
    font-family: Epilogue;
    justify-content: flex-start;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #686868;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    align-items: center;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    /* margin-left: 1.5rem; */
}

nav p {
    cursor: pointer;
    color: #686868;

}

#snapLogo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: 4rem;
    width:auto;

}

#openMenuIcon {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 4rem;
    width:auto;

}

#linkContainer {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 0;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #FAFAFA;
    padding-top: 4rem;
    transition: 3s;
}

#linkContainer * {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-decoration: none;
}


#linkContainer .closeMenuIcon {
    display: relative;
    font-size: 3rem;
    margin-left: 12rem;
    height: 4rem;
    width:auto;
}

.dropMenu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: Epilogue;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

.menuContent {
    display: flex;
    position: relative;
    background-color: #FAFAFA;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.menuContent a {
    display: flex;
    align-items: center;
    height: 3rem;
    width: fit-content;
    justify-content: flex-start;
}

.menuContent img {
    height: 100%;
    width: auto;
    margin-right: 20px;
}


#features {
    transition: 0.5s;
    height: 152px;
    width: 100%;
}

#company {
    transition: 0.5s;
    height: 110px;
}

.menuContent p {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    /* margin: 0.5rem 1rem; */
    cursor: pointer;
}

.loginContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.loginContainer p {
    cursor: pointer;
}

#loginText:hover {
    font-weight: 700;
}

#registerButton {
    display: flex;
    justify-content: center;
    border: black solid 1.5px;
    border-radius: 0.875rem;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
}

#registerButton:hover {
    color:  rgba(108, 49, 210, 1);
    font-weight: 700;
}

#mobileImage {
    position: relative;
    display: flex;
    background-size: auto;
    margin-top: 4.75rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

main h1 {
    color: black;
    font-size: 5rem;
    line-height: 42px;
    letter-spacing: -0.5px;
    padding: 4rem 0;
}

main p {
    color: #686868;
    text-align: center;
    font-size: 1.3rem;
    line-height: 3rem;
    padding: 0 .4rem;

}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textContainer > * {
    width: 100%;
}

#learnMore {
    display: flex;
    width: auto;
    height: 6rem;
    background-color: black;
    color:#FAFAFA;
    line-height: 28px;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 3rem;

}

#learnMore:hover {
    color: black;
    background-color:#FAFAFA;
    border: 2px solid black;

}

#learnMore p {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: inherit;
    padding: 2rem;
}

.partnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    padding: 3rem 0;
}

.desktopOnly {
    display: none;
}