/* font-family: 'Epilogue', sans-serif; */
* {
    margin: 0; 
    padding: 0;
    font-size: 15px;
    max-width: 375px;
    box-sizing: border-box;
}

body { 
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: #FAFAFA;
    font-family: Epilogue;
    justify-content: center;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    align-items: center;
}

.navLinks {
    display: flex;
    width: 99px;
    min-height: 152px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

nav p {
    cursor: pointer;
    color: #686868;

}

#snapLogo {
    position: fixed;
    top: 16px;
    left: 16px;
}

#openMenuIcon {
    position: absolute;
    top: 25px;
    right: 16px;
}

#mobileLinkContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #FAFAFA;
    padding-top: 60px;
    transition: 0.5s;
}

#mobileLinkContainer > * {
    margin-bottom: 32px;
}


#mobileLinkContainer .closeMenuIcon {
    display: relative;
    font-size: 36px;
    margin-left: 196px;
}

.dropMenu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    cursor: pointer;
}

.menuContent {
    display: none;
    position: relative;
    background-color: #FAFAFA;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

#features {
    display: inherit;
    width: 119px;
    transition: 0.5s;
    height: 152px;
}

#company {
    display: inherit;
    width: 76px;
    transition: 0.5s;
    height: 110px;
}

.menuContent a {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 15px;
    cursor: pointer;
    width: inherit;
}

.loginContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 195px;
    height: 74px;
}

.loginContainer p {
    cursor: pointer;
}

#loginText:hover {
    font-weight: 700;
}

#registerButton {
    display: flex;
    border: black solid 1.5px;
    border-radius: 14px;
    width: inherit;
    height: 42px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#registerButton:hover {
    color:  rgba(108, 49, 210, 1);
    font-weight: 700;
}

#mobileImage {
    position: relative;
    display: flex;
    width: 375px;
    height: 281.25;
    background-size: auto;
    margin-top: 75px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 373px;
}

main h1 {
    color: black;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.5px;
    padding-top: 48px;
}

main p {
    color: #686868;
    text-align: center;
    width: 100%;
    font-size: 15px;
    line-height: 26px;
    padding: 24px 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto; 

}

#learnMore {
    display: flex;
    width: 163px;
    height: 56px;
    background-color: black;
    color:#FAFAFA;
    font-size: 18px;
    line-height: 28px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#learnMore:hover {
    color: black;
    background-color:#FAFAFA;
    border: 2px solid black;

}

#learnMore p {
    font-weight: 700;
    letter-spacing: -0.25px;
    color: inherit;
}

.partnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 343px;
    height: 26px;
    padding: 50px 0;
}

.desktopOnly {
    display: none;
}