/* font-family: 'Epilogue', sans-serif; */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body { 
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #FAFAFA;
    font-family: Epilogue;
    justify-content: flex-start;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #686868;
    font-weight: 500;
    align-items: center;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    height: auto;
    margin-left: 1rem;
}

nav p {
    cursor: pointer;
    color: #686868;
}

.navLinks > * {
    padding: 2rem;
}

#snapLogo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: 4rem;
    width:auto;

}

#openMenuIcon {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 4rem;
    width:auto;
    z-index: 3;

}

#linkContainer {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 0;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #FAFAFA;
    padding-top: 4rem;
    transition: 3s;
}

#linkContainer * {
    font-size: 3rem;
    text-decoration: none;
}


#linkContainer .closeMenuIcon {
    display: relative;
    font-size: 3rem;
    margin-left: 80%;
    height: 4rem;
    width: auto;
}

#darkeningOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: black;
    opacity: 0;
}

.dropMenu {
    position: inherit;
    display: flex;
    flex-direction: column;
}

.menuButton {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: Epilogue;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    width: auto;
}

.menuButton img {
    height: 50%;
    width: auto;
    margin-left: 2rem;
}

.menuContent {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.menuContent a {
    position: inherit;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    transition: 0.3s;
    padding: 4rem;

    background-color: #FAFAFA;
  }
  
.menuContent p {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}


.menuContent img {
    height: 100%;
    width: auto;
    margin-right: 20px;
}


#features {
    transition: 0.5s;
    height: auto;
    width: 100%;
}

#company {
    transition: 0.5s;
    height: auto;
}

.loginContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.loginContainer p {
    cursor: pointer;
    margin: 1.875rem;
}

#loginText:hover {
    font-weight: 700;
}

#registerButton {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 90%;
}

#registerButton:hover {
    color:  rgba(108, 49, 210, 1);
    font-weight: 700;
}

#mobileImage {
    position: relative;
    display: flex;
    background-size: auto;
    margin-top: 6rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

main h1 {
    color: black;
    font-size: 6rem;
    line-height: 42px;
    letter-spacing: -0.5px;
    padding: 4rem 0;
}

main p {
    color: #686868;
    text-align: center;
    font-size: 1.3rem;
    line-height: 5rem;
    padding: 0 .4rem;
    letter-spacing: 0.5px;


}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textContainer > * {
    width: 100%;
}

#learnMore {
    display: flex;
    width: auto;
    height: auto;
    background-color: black;
    color:#FAFAFA;
    line-height: 28px;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 3rem 6rem 3rem 3rem;
    

}

#learnMore:hover {
    color: black;
    background-color:#FAFAFA;
    border: 2px solid black;

}

#learnMore p {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: inherit;
    padding: 1.5rem 4rem;
}

.partnerContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: auto;
    margin-top: 5rem;
    margin-left: 1rem;
}

.partnerContainer img {
    height: 3rem;
    width: auto;
    margin-right: 20px;
}


.desktopOnly {
    display: none;
}