/* font-family: 'Epilogue', sans-serif; */
* {
    margin: 0; 
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}

body { 
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    font-family: Epilogue;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    display: sticky;
    width: inherit;
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    align-items: center;
    /* border: 5px solid lightblue; */
}

nav p {
    margin: 0px 20px;
}

#snapLogo {
    margin: 30px 40px;
}

.linkContainer {
    display: flex;
    align-items: center;
    /* border: 5px solid salmon; */
}

.dropMenu {
    position: relative;
    display: inline-block;
    margin: 0px 20px;
}

.menuButton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 500;
}

.menuContent {
    display: none;
    position: absolute;
    z-index: 1;
}

.menuContent a {
    text-decoration: none;
    display: block;
}

.dropMenu:hover .menuContent {
    display: block;
}

.loginContainer {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    width: 182px;
    height: 42px;
}

#registerButton {
    display: flex;
    border: black solid 1.5px;
    border-radius: 14px;
    width: 104px;
    height: inherit;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    margin-top:67px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

main h1 {
    color: black;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.11px;
}

main p {
    color: #686868;
    font-size: 18px;
    line-height: 28px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 400px;
    margin-right: 125px;
}

#learnMore {
    background-color: black;
    color:#FAFAFA;
    font-size: 18px;
    line-height: 28px;
}