/* font-family: 'Epilogue', sans-serif; */
* {
    margin: 0; 
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}

body { 
    display: flex;
    position: relative;
    z-index: -10;
    flex-direction: column;
    background-color: #FAFAFA;
    font-family: Epilogue;
    justify-content: center;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: inherit;
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    align-items: center;
    z-index: 1;
    /* border: 5px solid lightblue; */
}

nav p {
    padding: 0px 20px;
    cursor: pointer;
    color: #686868;

}

#snapLogo {
    margin: 30px 40px;
}

.linkContainer {
    display: flex;
    align-items: center;

    /* border: 5px solid salmon; */
}

.dropMenu {
    position: relative;
    display: inline-block;
    margin: 0px 20px;
}

.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    cursor: pointer;
}

.menuContent {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.15);

}

#features {
    width: 153px;
    height: 160px;
}

#company {
    width: 116px;
    height: 128px;
}

.menuContent a {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 15px;
    cursor: pointer;
    width: inherit;
}

/* .menuContent img {
    margin: 0 15px;
} */

/* .dropMenu:hover .menuContent {


} */

.loginContainer {
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    width: 182px;
    height: 42px;
    margin-right: 40px;
}

#registerButton {
    display: flex;
    border: black solid 1.5px;
    border-radius: 14px;
    width: 104px;
    height: inherit;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    position: relative;
    margin-top:67px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    z-index: -1;
}

main h1 {
    color: black;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.11px;
}

main p {
    color: #686868;
    font-size: 18px;
    line-height: 28px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 540px;
    height: 544px;
    margin-right: 125px;
}

#learnMore {
    display: flex;
    width: 163px;
    height: 56px;
    background-color: black;
    font-size: 18px;
    line-height: 28px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

#learnMore p {
    font-weight: 700;
    letter-spacing: -0.25px;
    color:#FAFAFA;
}

.partnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 478px;
    height: 36px;
}